{
  "timeStamp" : "$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")",
  "station" :{
    "lattitude" : "$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]",
    "longitude" : "$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]",
    "altidude" : "$station.altitude",
    "hardware" : "$station.hardware",
    "software" : "Weewx v$station.version",
    "weewxUptime" : "$station.uptime",
    "serverUptime" : "$station.os_uptime",
    "transmitterBattery" : "DOLLARtxBatteryStatus",
    "consoleBatteryVoltage" : "$consBatteryVoltage",
    "rxCheckPercent" : "$rxCheckPercent"
  },
  "current" : {
    "temperature" : "$current.outTemp",
    "temperatureTrend" : "$trend.outTemp",
    "temperatureTrendTime" : "$trend.time_delta.hour.format("%.0f")",
    "windChill" : "$current.windchill",
    "heatIndex" : "$current.heatindex",
    "dewpoint" : "$current.dewpoint",
    "humidity" : "$current.outHumidity",
    "barometer" : "$current.barometer",
    "barometerTrend" : "$trend.barometer",
    "barometerTrendTime" : "$trend.time_delta.hour.format("%.0f")",
    "windSpeed" : "$current.windSpeed",
    "windDirection" : "$current.windDir",
    "rain" : "$current.rain",
    "rainRate" : "$current.rainRate",
    "highSolarRadiation" : "",
    "batteryVoltage" : "current.consBatteryVoltage",
    "windGust" : "$current.windGust",
    "windGustDir" : "$current.windGustDir",
    "cloudbase" : "$current.cloudbase"
  },
  "today" : {
    "highTemperature" : "$day.outTemp.max",
    "highTemperatureTime" : "$day.outTemp.maxtime",
    "lowTemperature" : "$day.outTemp.min",
    "lowTemperatureTime" : "$day.outTemp.mintime",
    "highHeatIndex" : "$day.heatindex.max",
    "highHeatIndexTime" : "$day.heatindex.maxtime",
    "lowHeatIndex" : "$day.heatindex.min",
    "lowHeatIndexTime" : "$day.heatindex.mintime",
    "lowWindChill" : "$day.windchill.min",
    "lowWindChillTime" : "$day.windchill.mintime",
    "highDewpoint" : "$day.dewpoint.max",
    "highDewpointTime" : "$day.dewpoint.maxtime",
    "lowDewpoint" : "$day.dewpoint.min",
    "lowDewpointTime" : "$day.dewpoint.mintime",
    "highHumidity" : "$day.outHumidity.max",
    "highHumidityTime" : "$day.outHumidity.maxtime",
    "lowHumidity" : "$day.outHumidity.min",
    "lowHumidityTime" : "$day.outHumidity.mintime",
    "highBarometer" : "$day.barometer.max",
    "highBarometerTime" : "$day.barometer.maxtime",
    "lowBarometer" : "$day.barometer.min",
    "lowBarometerTime" : "$day.barometer.mintime",
    "rain" : "$day.rain.sum",
    "highRainRate" : "$day.rainRate.max",
    "highRainRateHighTime" : "$day.rainRate.maxtime",
    "averageRainRate" : "$day.rainRate.avg",
    "highWind" : "$day.wind.max",
    "highWindTime" : "$day.wind.maxtime",
    "averageWind" : "$day.wind.avg",
    "rmsWind" : "$day.wind.rms",
    "averageWindVectorSpeed" : "$day.wind.vecavg",
    "averageWindVectorDirection" : "$day.wind.vecdir"
  },
  "weekly" : {
    "highTemperature" : "$week.outTemp.max",
    "highTemperatureTime" : "$week.outTemp.maxtime",
    "lowTemperature" : "$week.outTemp.min",
    "lowTemperatureTime" : "$week.outTemp.mintime",
    "highHeatIndex" : "$week.heatindex.max",
    "highHeatIndexTime" : "$week.heatindex.maxtime",
    "lowHeatIndex" : "$week.heatindex.min",
    "lowHeatIndexTime" : "$week.heatindex.mintime",
    "lowWindChill" : "$week.windchill.min",
    "lowWindChillTime" : "$week.windchill.mintime",
    "highDewpoint" : "$week.dewpoint.max",
    "highDewpointTime" : "$week.dewpoint.maxtime",
    "lowDewpoint" : "$week.dewpoint.min",
    "lowDewpointTime" : "$week.dewpoint.mintime",
    "highHumidity" : "$week.outHumidity.max",
    "highHumidityTime" : "$week.outHumidity.maxtime",
    "lowHumidity" : "$week.outHumidity.min",
    "lowHumidityTime" : "$week.outHumidity.mintime",
    "highBarometer" : "$week.barometer.max",
    "highBarometerTime" : "$week.barometer.maxtime",
    "lowBarometer" : "$week.barometer.min",
    "lowBarometerTime" : "$week.barometer.mintime",
    "rain" : "$week.rain.sum",
    "highRainRate" : "$week.rainRate.max",
    "highRainRateHighTime" : "$week.rainRate.maxtime",
    "averageRainRate" : "$week.rainRate.avg",
    "highWind" : "$week.wind.max",
    "highWindTime" : "$week.wind.maxtime",
    "averageWind" : "$week.wind.avg",
    "rmsWind" : "$week.wind.rms",
    "averageWindVectorSpeed" : "$week.wind.vecavg",
    "averageWindVectorDirection" : "$week.wind.vecdir"
  },
  "monthly" : {
    "highTemperature" : "$year.outTemp.max",
    "highTemperatureTime" : "$year.outTemp.maxtime",
    "lowTemperature" : "$year.outTemp.min",
    "lowTemperatureTime" : "$year.outTemp.mintime",
    "highHeatIndex" : "$year.heatindex.max",
    "highHeatIndexTime" : "$year.heatindex.maxtime",
    "lowHeatIndex" : "$year.heatindex.min",
    "lowHeatIndexTime" : "$year.heatindex.mintime",
    "lowWindChill" : "$year.windchill.min",
    "lowWindChillTime" : "$year.windchill.mintime",
    "highDewpoint" : "$year.dewpoint.max",
    "highDewpointTime" : "$year.dewpoint.maxtime",
    "lowDewpoint" : "$year.dewpoint.min",
    "lowDewpointTime" : "$year.dewpoint.mintime",
    "highHumidity" : "$year.outHumidity.max",
    "highHumidityTime" : "$year.outHumidity.maxtime",
    "lowHumidity" : "$year.outHumidity.min",
    "lowHumidityTime" : "$year.outHumidity.mintime",
    "highBarometer" : "$year.barometer.max",
    "highBarometerTime" : "$year.barometer.maxtime",
    "lowBarometer" : "$year.barometer.min",
    "lowBarometerTime" : "$year.barometer.mintime",
    "rain" : "$year.rain.sum",
    "highRainRate" : "$year.rainRate.max",
    "highRainRateHighTime" : "$year.rainRate.maxtime",
    "averageRainRate" : "$year.rainRate.avg",
    "highWind" : "$year.wind.max",
    "highWindTime" : "$year.wind.maxtime",
    "averageWind" : "$year.wind.avg",
    "rmsWind" : "$year.wind.rms",
    "averageWindVectorSpeed" : "$year.wind.vecavg",
    "averageWindVectorDirection" : "$year.wind.vecdir"
  },
  "annual" : {
    "highTemperature" : "$week.outTemp.max",
    "highTemperatureTime" : "$week.outTemp.maxtime",
    "lowTemperature" : "$week.outTemp.min",
    "lowTemperatureTime" : "$week.outTemp.mintime",
    "highHeatIndex" : "$week.heatindex.max",
    "highHeatIndexTime" : "$week.heatindex.maxtime",
    "lowHeatIndex" : "$week.heatindex.min",
    "lowHeatIndexTime" : "$week.heatindex.mintime",
    "lowWindChill" : "$week.windchill.min",
    "lowWindChillTime" : "$week.windchill.mintime",
    "highDewpoint" : "$week.dewpoint.max",
    "highDewpointTime" : "$week.dewpoint.maxtime",
    "lowDewpoint" : "$week.dewpoint.min",
    "lowDewpointTime" : "$week.dewpoint.mintime",
    "highHumidity" : "$week.outHumidity.max",
    "highHumidityTime" : "$week.outHumidity.maxtime",
    "lowHumidity" : "$week.outHumidity.min",
    "lowHumidityTime" : "$week.outHumidity.mintime",
    "highBarometer" : "$week.barometer.max",
    "highBarometerTime" : "$week.barometer.maxtime",
    "lowBarometer" : "$week.barometer.min",
    "lowBarometerTime" : "$week.barometer.mintime",
    "rain" : "$week.rain.sum",
    "highRainRate" : "$week.rainRate.max",
    "highRainRateHighTime" : "$week.rainRate.maxtime",
    "averageRainRate" : "$week.rainRate.avg",
    "highWind" : "$week.wind.max",
    "highWindTime" : "$week.wind.maxtime",
    "averageWind" : "$week.wind.avg",
    "rmsWind" : "$week.wind.rms",
    "averageWindVectorSpeed" : "$week.wind.vecavg",
    "averageWindVectorDirection" : "$week.wind.vecdir"
  },
  "almanac" : {
    #if $almanac.hasExtras
      ## Extended almanac information is available. Do the full set of tables.
      #set $sun_altitude = $almanac.sun.alt
      #if $sun_altitude < 0
        #set $sun_None="(Always down)"
      #else
        #set $sun_None="(Always up)"
      #end if
        "startCivilTwilight" : "$almanac(horizon=-6).sun(use_center=1).rise",
        "sunrise" : "$almanac.sun.rise.string($sun_None)",
        "transit" : "$almanac.sun.transit",
        "sunset" : "$almanac.sun.set.string($sun_None)",
        "endCivilTwilight" : "$almanac(horizon=-6).sun(use_center=1).set",
        "azimuth" : "$("%.1f&deg;" % $almanac.sun.az)",
        "altitude" : "$("%.1f&deg;" % $sun_altitude)",
        "rightAscension" : "$("%.1f&deg;" % $almanac.sun.ra)",
        "declination" : "$("%.1f&deg;" % $almanac.sun.dec)",
        #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
        #typically, ui should display whichever is next. if equinox before solstace, display it before solstace. otherwise inverse
        "isEquinoxBeforeSolstace" : "true",
        #else
        "isEquinoxBeforeSolstace" : "false",
        #end if
        "equinox" : "$almanac.next_equinox",
        "solstace" : "$almanac.next_solstice",

        "moonrise" : "$almanac.moon.rise",
        "moonTransit" : "$almanac.moon.transit",
        "moonSet" : "$almanac.moon.set",
        "moonAzimuth" : "$("%.1f&deg;" % $almanac.moon.az)",
        "moonAltitude" : "$("%.1f&deg;" % $almanac.moon.alt)",
        "moonRightAscension" : "$("%.1f&deg;" % $almanac.moon.ra)",
        "moonDeclination" : "$("%.1f&deg;" % $almanac.moon.dec)",

	       #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
        "fullMoon" : "$almanac.next_full_moon",
        "newMoon" : "$almanac.next_new_moon",
        #else
        "fullMoon" : "$almanac.next_new_moon",
        "newMoon" : "$almanac.next_full_moon",
        #end if
        "moonPhase" : "$almanac.moon_phase ($almanac.moon_fullness% full)"
    #else
      "sunrise" : "$almanac.sunrise",
      "sunset" : "$almanac.sunset",
      "mooonPhase" : "$almanac.moon_phase ($almanac.moon_fullness% full)"
    #end if
  }
}
